.main {
  padding: 0 20px;
}

.card_section {
  margin-top: 20px;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather_image {
  width: 100%;
}
