.user__placeholder {
  display: inline-block;
}

.placeholder__circle {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Cabinet-Grotesk-Regular";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
